.nav-display-background{
      position: absolute;
      background-color: #f2f4ff;
      height: 100vh;
      width: 30vw;
      left: 0px;
      top: 0px;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
}

.module-text{
      position:relative;
      width: 100%;
      text-align: center;
      font-size: 36px;
      margin-top: 2.5vh;
}