.home-page{
      position: relative;
      background-color: #D32F2F;
      height: 100vh;
      width: 100vw;
      align-items: center;
      margin-top: 0;
      justify-content: center;
}

.home-page-header{
      color: white;
      position: relative;
      align-items: center;
      width: 100vw;
      text-align: center;
      margin-top: 0;
}

.navigation-centre-container{
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
      align-items: center;
      justify-content: space-around;
}

